@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit:wght@100&family=Pacifico&family=Permanent+Marker&family=REM:ital,wght@1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --cor0: #765B72;
  --cor1: #78617C;
  --cor2: #7B6E91;
  --cor3: #7F7BA7;
  --cor4: #838CC2;

--fonte-padrao: 'Bebas Neue', sans-serif;
}

header {
  font-family: 'Inter', sans-serif;
  background-color: #23252a;
  box-shadow: 0px 2px 10px #464646;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 6rem;
}

.logo {
  display: flex;
  align-items: center;
}

.logo h1 {
  color: white;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-list ul {
  display: flex;
  justify-items: center;
  list-style: none;
}

.nav-item {
  margin: 0 15px;
}

.nav-link {
  text-decoration: none;
  font-size: 1.5rem;
  color: #ffff;
  font-weight: 400;
}

.login-button button {
  border: none;
  background-color: #0187a7;
  padding: 10px 15px;
  border-radius: 5px;
}

.login-button button a {
  text-decoration: none;
  color: #ffff;
  font-weight: 500;
  font-size: 1.1rem;
}

.mobile-menu-icon {
  display: none;
}

.mobile-menu {
  display: none;
}



body, html {
  background-color: rgba(153, 50, 204, 0.458);
  height: 100vh;
  width: 100vw;
}


main {
  position: relative;
  height: 100vh;
  width: 100vw;
}

section#login {
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: hidden;
  background-color: white;
  width: 250px;
  height: 490px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px #7b6e91b4;

  transition: width 0.3s, height .3s;
  transition-timing-function: ease;
  transform: translate(-50%, -50%);
}

section#login > div#imagem {
  background: plum url(../imgloguin/zero-two-feature.png) no-repeat;
  background-size: cover;
  background-position: center ;
  height: 200px;
  display: block;
}


section#login > div#formulario {
  padding: 10px;
  display: block;
}

div#formulario > p {
  font-size: 0.8em;
}

form > div.campo {
  background-color: #78617C;
  display: block;
  border: 2px solid #382d3a;
  height: 42px;
  border-radius: 8px;
  width: 100%;
  margin: 5px 0px;
}

div.campo > label {
  display: none;
}

div.campo > span {
  color: white;
  font-size: 2em;
  width: 40px;
  padding: 5px;
}

div.campo > input {
  background-color: #382d3a;
  font-size: 1em;
  height: 100%;
  width: calc(100% - 44px);
  border: 0px;
  border-radius: 8px;
  padding: 4px;
  transform: translateY(-12px);
}

div.campo > input:focus-within {
  background-color: white;
  border: 0px;
}

form > input[type=submit] {
  display: block;
  font-size: 1em;
  width: 100%;
  height: 40px;
  background-color: #7B6E91;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
form > input[type=submit]:hover {
  background-color: #838CC2;
}

form > a.botao {
  display: block;
  text-align: center;
  font-size: 1em;
  width: 100%;
  height: 40px;
  background-color: #78617C;
  color: #D9E1EC;
  border: 1px solid rgba(0, 0, 0, 0.216);
  text-decoration: none;
  border-radius: 5px;
  padding-top: 5px;
  margin-top: 5px;
  position: relative;
}

form > a.botao > span {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 80%;
  font-size: 0.8em;
  color: #171717;
  transform: translate(-50%, -55%);
}

form > a.botao:hover {
  background-color: #4c4459;
}



