@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit:wght@100&family=Pacifico&family=Permanent+Marker&family=REM:ital,wght@1,900&display=swap');

* {
  margin: 0px;
  padding: 0px;
}

:root {
  --cor0: #765B72;
  --cor1: #78617C;
  --cor2: #7B6E91;
  --cor3: #7F7BA7;
  --cor4: #838CC2;

--fonte-padrao: 'Bebas Neue', sans-serif;
}



body {
  background-color: var(--cor3);
}

header{
  background-image: url(../imagens/baner.jpg);
  background-size: auto;
  background-position: center center;
  min-height: 150px;
  text-align: center;
  padding-top: 12px;
}

header h1 {
  color: #becfc8;
  text-shadow: 3px 2px 6px rgba(0, 0, 0, 0.466);
  font-size: 3em;
  
}


header > p {
  font-family: var(--fonte-padrao);
  text-align: center;
  padding-top: 25px;
  color: #ffffff;
}

p#propaganda {
  margin: auto;
  font-family: none
  
}

header a {
  text-decoration: none;
  font-weight: bold;
  color: rgb(128, 119, 218);
  background-color: rgba(93, 16, 200, 0.235);
}

header a:hover {
  color: rgb(158, 195, 9);
}

nav {
background-color: rgb(15, 15, 15);
  box-shadow: 3px 3px 13px 1px rgba(0, 0, 0, 0.308);
  height: 60px;
  position: relative;
}

.header{
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #0e0e0e;
  
}

.logo > a {
  padding: 5px;
  margin: 2px;
}

.navega > a {
  color: #15b97a;
  font-size: 1.2em;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
  transition-duration: 0.5s;
}

.navega a:hover {
  background-color: var(--cor3);
  color: var(--cor0);
}


main {
  min-width: 300px;
  max-width: 1000px;
  margin: auto;
  margin-bottom: 25px;
  background-color: white;
  padding: 25px;
  box-shadow: 3px 4px 1px rgba(0, 0, 0, 0.197);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

main#noticias {
  float: left;
  min-width: 300px;
  max-width: 800px;
}

aside {
  text-align: center;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.529);
  width: 460px;
  float: right;
  margin: auto;
  position: relative;
}
  
aside > div#caixa {
  position: absolute;
  background-color:  rgba(255, 255, 255, 0.529);
  border-radius: 10px;
  top: 8px;
  left: 3%;
  width: 90%;

}
main h1 {
  font-family: var(--fonte-padrao);
  font-weight: normal;
  font-size: 2.1em;
}

main h2 {
  background-image: linear-gradient(to right, #07babd7f, transparent);
  font-size: 1.6em;
}

picture.foto{
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}


main p {
  margin: 10px 0px;
  text-align: justify;
  text-indent: 10px;
  font-size: 1.1em;
  line-height: 1.3em;
}

main a {
  text-decoration: none;
  font-weight: bold;
  color: #125a3e;
  background-color: #07bd777f;
}

main a:hover {
  text-decoration: underline;
  color: #33b885;
}

div.video {
  background-color: var(--cor0);
  margin: 0px -20px 30px -20px;
  padding: 10px;
  padding-bottom: 59%;
  position: relative;
  box-shadow:  3px 4px 1px rgba(0, 0, 0, 0.197);
}

div.video > iframe {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  box-shadow:  3px 4px 1px rgba(0, 0, 0, 0.131);
}

footer {
  background-color: var(--cor4);
  text-align: center;
  font-size: 0.9em;
  padding: 5px;
}

footer a {
  text-decoration: none;
  color:  rgb(19, 7, 149);
  font-weight: bolder;
  background-color: rgba(240, 248, 255, 0.429);
  font-family: Arial, Helvetica, sans-serif;
}

footer a:hover {
  text-decoration: underline;
  color: #37c87b;
}

