@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit:wght@100&family=Pacifico&family=Permanent+Marker&family=REM:ital,wght@1,900&display=swap');

* {
  margin: 0px;
  padding: 0px;
}

:root {
  --cor0: #765B72;
  --cor1: #78617C;
  --cor2: #7B6E91;
  --cor3: #7F7BA7;
  --cor4: #838CC2;

--fonte-padrao: 'Bebas Neue', sans-serif;
}



body {
  height: 95vh
  flex: 1 1 100px;
  background-color: var(--cor3);
  color: white;
  font-size: 15px;
  display: flex;
  flex-direction: column;
}

header {
  background-image: url(../../imagens/baner.jpg);
  padding: 2em 0 2em 0;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

header a {
  text-decoration: none;
  font-weight: bold;
  color: rgb(128, 119, 218);
  background-color: rgba(93, 16, 200, 0.235);
}

.header{
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #0e0e0e;
}


.logo > a {
  padding: 5px;
  margin: 2px;
  width: 150px;
}

div.navega > a {
  color: #15b97a;
  font-size: 1.2em;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
  transition-duration: 0.5s;
}


.navega a:hover {
  background-color: var(--cor3);
  color: var(--cor0);
}

.left {
  background-color: rgba(128, 128, 128, 0.592);
  padding: 3em 0 3em 0;
  flex: 1 1 100px;
  text-align: center;
  padding: 10px;
}

main {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  padding: 3em 0 3em 0;
  flex: 3 1 100px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

main > p, h1 {
  padding: 8px;
}

body > div.main {
  display: flex;
  color: black;
  margin-bottom: 0vh;
  margin-right: 5vh;
  margin-left: 5vh;
  margin-top: 0vh;
}

.right {
  background-color: rgba(128, 128, 128, 0.592);
  padding: 3em 0 3em 0;
  flex: 1 1 100px;
  text-align: center;
  padding: 10px;
}

footer {
  background-color: var(--cor4);
  text-align: center;
  font-size: 0.9em;
  padding: 5px;
}

footer a {
  text-decoration: none;
  color:  rgb(19, 7, 149);
  font-weight: bolder;
  background-color: rgba(240, 248, 255, 0.429);
  font-family: Arial, Helvetica, sans-serif;
}

footer a:hover {
  text-decoration: underline;
  color: #37c87b;
}


@media all and (max-width: 550px){
  .main{
    flex-direction: column;
  }
  main{
    padding: 5em 0 5em 0;
  }
}